fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
python-dotenv


#comandos terminal

#activar entorno virtual
#python -m venv venv
#venv\Scripts\activate

#INstalar dependencias
#pip install -r requirements.txt

#Levantar el servidor
#uvicorn app.main:app --reload