fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
python-dotenv


#comandos terminal

#activar entorno virtual
#python -m venv venv
#venv\Scripts\activate

#INstalar dependencias
#pip install -r requirements.txt
#pip install pydantic[email]  
#Levantar el servidor
#uvicorn app.main:app --reload

#Conectar con documentacion Swagger en http://127.0.0.1:8000/docs y Redoc en http://127.0.0.1:8000/redoc.

#pip install pydantic[email]   (para usuario)



#-----Sin levantar el servidor pero instalando todas las deopendencias.... ejecutar los siguientes codigos----despues de hacer sus archivos en la carpeta tests
#coverage run -m pytest
#coverage report -m
